a:hover {
  text-decoration: none;
  color: #707070;
}

.collapser {
  cursor: pointer;
}

.slider.slider-horizontal {
  width: 100%;
}

.rz-limit.rz-ceil, .rz-limit.rz-floor {
  display: none;
}

.rz-bubble {
  top: 20px;
}

.rzslider {
  margin: 15px 0 15px 0;
}
.rzslider .rz-pointer {
  background: url(../assets/img/bubble.png) no-repeat;
  background-color: none;
}
.rzslider .rz-bar.rz-selection {
  background: #777777;
}

.rz-pointer.rz-active:after {
  content: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f4f4f4;
  color: #4f4444;
}

header a {
  color: #FFFFFF;
}
header a:hover {
  color: #707070;
}
header #top {
  background: #1e4783;
  border-bottom: 1px solid #587ea2;
}
header #top .logo-img {
  margin: 15px 0;
}
@media (max-width: 1169px) {
  header #top .logo-img {
    width: 100px;
  }
}
header #top .fa-user {
  margin-right: 5px;
}
header #top nav#principal img, header #top nav#mobile img {
  vertical-align: inherit;
}
header #top nav#principal ul, header #top nav#mobile ul {
  color: #FFFFFF;
  padding: 28px 0;
  margin: 0;
}
header #top nav#principal ul li, header #top nav#mobile ul li {
  font-weight: 300;
  color: #FFFFFF;
  padding: 0 10px;
  border-right: 1px solid #FFFFFF;
}
header #top nav#principal ul li:last-child, header #top nav#mobile ul li:last-child {
  padding-right: 0;
  border: none;
}
header #top nav#mobile {
  display: block;
  font-size: 20px;
  padding: 14px 0;
}
header #top nav#mobile .fa-bars {
  cursor: pointer;
}
header #top nav#mobile ul {
  padding: 0;
}
@media (min-width: 1169px) {
  header #top nav#mobile {
    display: none;
  }
}
header #top nav#principal {
  display: none;
}
@media (min-width: 1169px) {
  header #top nav#principal {
    display: block;
  }
}
header #bottom {
  display: none;
  background: #587ea2;
  background-color: rgba(0, 44, 119, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 7px 48px;
  font-weight: bold;
}
@media (min-width: 1169px) {
  header #bottom {
    display: block;
  }
}
header #bottom a {
  color: #FFFFFF;
  padding: 8px 20px 8px 20px;
}
header #bottom a:hover {
  color: #707070;
}
header #bottom nav {
  text-align: center;
}
header #bottom nav ul {
  margin: 0;
  padding: 0;
}
header #bottom-mobile {
  display: none;
}
@media (max-width: 1169px) {
  header #bottom-mobile {
    display: block;
  }
}
header #bottom-mobile ul li {
  display: block;
  font-size: 14px;
}
header #bottom-mobile ul li a {
  color: #4b4b4b;
  background: #FFFFFF;
  display: block;
  width: 100%;
  height: 100%;
  padding: 16px 15px;
  border-bottom: 1px solid #eaeaea;
}

#main .breadcrumb-custom {
  font-size: 10px;
  margin: 14px 0;
  padding: 0;
}
#main .breadcrumb-custom ul {
  margin: 0;
  padding: 0;
}
#main .destacado {
  padding: 16px 12px;
  border: 1px solid #cccccc;
}
#main .destacado h1 {
  font-size: 20px;
  color: #49445a;
  margin: 0 0 10px 0;
}
#main .destacado ul li {
  margin-right: 10px;
}
#main .destacado ul li i {
  margin-right: 5px;
}
#main h2.titulo {
  font-size: 16px;
}
#main .vermapa {
  background: #FFFFFF;
  text-align: center;
  border-radius: 4px;
}
#main .vermapa img {
  width: 100%;
}
#main .vermapa a {
  color: #48a3dc;
  padding: 8px 0;
  display: block;
}
#main .boxshadow {
  box-shadow: 1px 2px 5px #dad7d7;
}
#main .relevante {
  font-size: 12px;
  padding: 6px 0;
  text-align: center;
}
@media (min-width: 992px) {
  #main .relevante {
    text-align: right;
  }
}
#main .filtros-mobile ul {
  text-align: center;
}
#main .filtros-mobile ul li {
  display: block;
  font-size: 14px;
  border-bottom: 1px solid #cccccc;
  padding: 18px 0;
  color: #227ab1;
}
#main article {
  padding: 5px;
  background: #FFFFFF;
  margin-bottom: 10px;
}
#main article .carousel {
  width: 240px;
}
@media (max-width: 680px) {
  #main article .carousel {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
}
#main article .nombre-hotel {
  margin-left: 10px;
}
@media (max-width: 680px) {
  #main article .nombre-hotel {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
}
#main article .nombre-hotel .stars {
  margin-top: 5px;
  color: #fdba12;
}
#main article .nombre-hotel .cama {
  margin-top: 10px;
  font-size: 11px;
  color: #e89757;
  font-weight: bold;
}
#main article .nombre-hotel .amenities {
  font-size: 16px;
  margin-top: 5px;
}
#main article .precio {
  width: 190px;
  border-left: 1px dashed #cccccc;
}
@media (max-width: 680px) {
  #main article .precio {
    text-align: center;
    width: auto;
  }
}
#main article .precio .precio-habitacion {
  font-size: 9px;
}
#main article .precio .ars {
  color: #e89757;
  font-size: 20px;
}
#main article .precio .ars .ars-prefijo {
  vertical-align: text-bottom;
}
#main article .precio .ars .ars-precio {
  font-size: 28px;
  font-weight: bold;
  color: #df6800;
}
#main article .precio .impuestos {
  font-size: 9px;
}
#main article .precio .verhotel-container {
  margin: 10px 0;
}
#main article .precio .verhotel-container .verhotel {
  color: #FFFFFF;
  background: #002c77;
  border: none;
  box-shadow: 1px 2px 5px #00163c;
  padding: 5px 35px;
  margin: 0 auto;
  margin: 5px 0;
  width: 140px;
}
#main article .precio .cuotas {
  font-size: 11px;
  font-weight: bold;
  margin: 4px 0;
}
#main article .precio .destino {
  font-size: 11px;
  font-weight: bold;
}
#main article ul li {
  vertical-align: top;
}
@media (max-width: 680px) {
  #main article ul li.precio {
    display: block;
    float: none !important;
    border: none;
  }
  #main article ul li.carousel-list {
    width: 100%;
    text-align: center;
  }
  #main article ul li.carousel-list .carousel {
    margin: 0 auto;
  }
}
#main article h1 {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}
#main aside {
  color: #48a3dc;
}
@media (min-width: 992px) {
  #main aside #filtros-container.collapse {
    display: block;
  }
}
#main aside .filtro {
  padding: 12px;
  background: #FFFFFF;
  margin-bottom: 2px;
}
#main aside .filtro.estrellas ul li {
  display: block;
}
#main aside .filtro.estrellas ul li:not(:first-child) {
  color: #fdba19;
}
#main aside .filtro #precio {
  margin-bottom: 14px;
}
#main aside .filtro h2 {
  color: #48a3dc;
  margin: 0;
  margin-bottom: 15px;
}
#main aside .filtro input[type="submit"] {
  color: #FFFFFF;
  background: #002c77;
  border: none;
  box-shadow: 1px 2px 5px #00163c;
  border-radius: 4px;
}
