$bgcolor: #029aff;

$mobile-break: 1169px;


$xl-max : 2000px;
$lg-min : 1200px;
$md-max :  1200px; 
$md-min : 992px;
$sm-max : 992px;
$sm-min : 768px;
$xs : 400px;

$breakpoint-article : 680px;

a:hover{
	text-decoration: none;
	color: #707070;
}

.collapser{
		cursor: pointer;
}


//Slider styles
.slider.slider-horizontal{
	width: 100%;
}

.rz-limit.rz-ceil, .rz-limit.rz-floor{
	display: none;
}
.rz-bubble{
	top: 20px;
}
.rzslider{
	margin: 15px 0 15px 0;
	.rz-pointer{
		background: url(../assets/img/bubble.png) no-repeat;
		background-color: none;
	}
	.rz-bar.rz-selection{
		background: #777777;
	}
}


.rz-pointer.rz-active:after{
	content:none;
}


//Fix para todas las listas
ul{
	list-style:none;
	margin: 0;
	padding: 0;
	li{
		display: inline-block;
	}
}

body{
	font-family: 'Roboto', sans-serif;
	background: #f4f4f4;
	color: #4f4444;
}

header{
	a{
		color:#FFFFFF;
		&:hover{
			color: #707070;
		}
	}

	#top{
		background: #1e4783;
		border-bottom: 1px solid #587ea2;

		.logo-img{
			margin: 15px 0;
			@media(max-width: $mobile-break){
				width: 100px;
			}
		}

		.fa-user{
			margin-right: 5px;
		}
		nav#principal, nav#mobile{
			img{
				vertical-align: inherit;
			}
			ul{
				color:#FFFFFF;
				padding: 28px 0;
				margin: 0;
				li{
					font-weight: 300;
					color:#FFFFFF;
					padding: 0 10px;
					border-right: 1px solid #FFFFFF;

					&:last-child{
						padding-right: 0;
						border: none;
					}
				}
			}
		}
		nav#mobile{
			display: block;
			font-size: 20px;
			padding: 14px 0;
			.fa-bars{
				cursor: pointer;
			}
			ul{
				padding:0;
			}
			@media(min-width: $mobile-break){
				display: none;
			}
		}
		nav#principal{
			display: none;
			@media(min-width: $mobile-break){
				display: block;
			}
		}

	}
	#bottom{
		display: none;
		@media(min-width: $mobile-break){
				display: block;
		}
		background: #587ea2;
		background-color: rgba(0,44,119,0.4);
	    border-top: 1px solid rgba(255,255,255,0.2);
	    border-bottom: 1px solid rgba(255,255,255,0.2);
	    padding: 7px 48px;
	    font-weight: bold;

		a{
			color: #FFFFFF;
			padding: 8px 20px 8px 20px;
			&:hover{
				color: #707070;
			}
		}

	    nav{
	    	text-align: center;
	    	ul{
	    		margin: 0;
	    		padding: 0;
	    	}
	    }
	}
	#bottom-mobile{
		display: none;
		@media(max-width: $mobile-break){
			display: block;
		}
		ul{
			li{
				display: block;
				font-size: 14px;
				a{
					color: #4b4b4b;
					background: #FFFFFF;
					display: block;
					width: 100%;
					height: 100%;
					padding: 16px 15px;
					border-bottom: 1px solid #eaeaea;
				}
				
			}
		}
	}
}

#main{
	.breadcrumb-custom{
		font-size: 10px;
		margin: 14px 0;
		padding: 0;
		ul{
			margin: 0;
			padding: 0;
		}
	}

	.destacado{
		padding: 16px 12px;
		border: 1px solid #cccccc;
		h1{
			font-size: 20px;
			color: #49445a;
			margin: 0 0 10px 0;
		}
		ul li{
			margin-right: 10px;
			i{
				margin-right: 5px;
			}
		}
		
	}
	h2.titulo{
		font-size: 16px;
	}
	.vermapa{
		background: #FFFFFF;
		text-align: center;
		border-radius: 4px;
		img{
			width: 100%;
		}
		a{
			color: #48a3dc;
			padding: 8px 0;
			display: block;
		}
	}
	.boxshadow{
		box-shadow: 1px 2px 5px #dad7d7;
	}

	.relevante{
		font-size: 12px;
		padding: 6px 0;
		text-align: center;
		@media(min-width: $sm-max){
			text-align: right;
		}
	}
	.filtros-mobile{
			ul{
				text-align: center;
				li{
					display: block;
					font-size: 14px;
					border-bottom: 1px solid #cccccc;
					padding: 18px 0;
					color: #227ab1;
				}
			}
	}
	article{
		padding:5px;
		background:#FFFFFF;
		margin-bottom: 10px;
		.carousel{
			width:240px;
			@media(max-width: $breakpoint-article){
				display: block;
				text-align: center;
				margin-top: 15px;
			}
		}
		.nombre-hotel{
			margin-left: 10px;
			@media(max-width: $breakpoint-article){
				display: block;
				text-align: center;
				margin-top: 15px;
			}
			.stars{
				margin-top: 5px;
				color: #fdba12;
			}
			.cama{
				margin-top: 10px;
				font-size: 11px;
				color: #e89757;
				font-weight: bold;
			}
			.amenities{
				font-size: 16px;
				margin-top: 5px;
			}	
		}
		.precio{
			width: 190px;
			@media(max-width: $breakpoint-article){
				text-align: center;
				width: auto;
			}
			border-left: 1px dashed #cccccc;
			.precio-habitacion{
				font-size: 9px;
			}
			.ars{
				color: #e89757;
				font-size: 20px;
				.ars-prefijo{
					vertical-align: text-bottom;
				}
				.ars-precio{
					font-size: 28px;
					font-weight: bold;
					color:#df6800;
				}
			}
			.impuestos{
				font-size: 9px;
			}
			.verhotel-container{
				margin: 10px 0;
				.verhotel{
					color: #FFFFFF;
					background: #002c77;
					border: none;
					box-shadow: 1px 2px 5px #00163c;
					padding: 5px 35px;
					margin: 0 auto;
					margin: 5px 0;
					width: 140px;
				}
			}
			.cuotas{
				font-size: 11px;
				font-weight: bold;
				margin:4px 0;
			}
			.destino{
				font-size: 11px;
				font-weight: bold;
			}
		}
		ul li{
			vertical-align: top;
			@media(max-width: $breakpoint-article ){
				&.precio{
					display: block;
					float: none !important;
					border:none;
				}
				&.carousel-list{
					width: 100%;
					text-align: center;
					.carousel{
						margin: 0 auto;
					}
				}
			}
			
		}
		h1{
			font-size: 14px;
			margin: 0;
			font-weight: bold;
		}
	}
	aside{
		color: #48a3dc;

	
		#filtros-container{
			@media(min-width: $md-min ){
				&.collapse{
					display: block;
				}
			}
		}
		
		.filtro{
			padding: 12px;
			background: #FFFFFF;
			margin-bottom: 2px;

			&.estrellas{
				ul li{
					display: block;
					&:not(:first-child){
						color: #fdba19;
					}
				}
			}
			#precio{
				margin-bottom: 14px;
			}

			h2{
				color: #48a3dc;
				margin: 0;
				margin-bottom: 15px;
			}
			input[type="submit"]{
				color: #FFFFFF;
				background: #002c77;
				border: none;
				box-shadow: 1px 2px 5px #00163c;
				border-radius: 4px;
			}
		}
	}

}