<!DOCTYPE html>
<html lang="en" ng-app="almundoApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examen Almundo</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  	<link rel="stylesheet" type="text/css" href="/bower_components/angularjs-slider/dist/rzslider.css"/>
  	<link rel="stylesheet" href="dist/styles.min.css">
	
  	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> 	
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angularjs-slider/dist/rzslider.min.js"></script>
</head>

<body ng-controller="hotelesController">
<header>
	<div id="top">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<img class="logo-img" src="assets/img/logo-almundo.svg" alt="Club Al Mundo">
				</div>
				<div class="col-xs-8 text-right">
					<nav id="principal">
						<ul>
							<li>
								<i class="fa fa-user" ></i><a href="#">Ingresar</a>
							</li>
							<li>
								<a href="#">
									<img src="assets/img/logo-clubalmundo.svg" alt="Club Al Mundo">
								</a>
							</li>
							<li>
								<a href="#">
									Sucursales
								</a>
							</li>
							<li>
								<a href="#">
									Llamanos <i class="fa fa-chevron-down"></i>
								</a>
							</li>
							<li>
								<a href="#">
									Ayuda
								</a>
							</li>
						</ul>
					</nav>
					<nav id="mobile">
						<ul>
							<li> <i class="fa fa-user"></i> </li>
							<li> <i class="fa fa-phone" aria-hidden="true"></i> </li>
							<li data-toggle="collapse" data-target="#menu-container"> <i class="fa fa-bars" aria-hidden="true"></i> </li>
						</ul>
					</nav>
				</div>
			</div>
			
		</div>
		
	</div>
	<div id="bottom">
			<nav>
				<ul>
					<li>
						<a href="#">Hoteles</a>
					</li>
					<li>
						<a href="#">Vuelos</a>	
					</li>
					<li>
						<a href="#">Vuelo + Hotel</a>
					</li>
					<li>
						<a href="#">Paquetes</a>
					</li>
					<li>
						<a href="#">Disney</a>
					</li>
					<li>
						<a href="#">Escapadas</a>
					</li>
					<li>
						<a href="#">Seguros</a>
					</li>
					<li>
						<a href="#">Autos</a>
					</li>
					<li>
						<a href="#">Cruceros</a>
					</li>
					<li>
						<a href="#">Ofertas</a>
					</li>
					<li>
						<a href="#">Más <i class="fa fa-chevron-down" aria-hidden="true"></i> </a>
					</li>
				</ul>
			</nav>
	</div>
	<div id="bottom-mobile" >
		<div id="menu-container" class="collapse">
			<nav>
				<ul>
					<li>
						<a href="#">Hoteles</a>
					</li>
					<li>
						<a href="#">Vuelos</a>	
					</li>
					<li>
						<a href="#">Vuelo + Hotel</a>
					</li>
					<li>
						<a href="#">Paquetes</a>
					</li>
					<li>
						<a href="#">Disney</a>
					</li>
					<li>
						<a href="#">Escapadas</a>
					</li>
					<li>
						<a href="#">Seguros</a>
					</li>
					<li>
						<a href="#">Autos</a>
					</li>
					<li>
						<a href="#">Cruceros</a>
					</li>
					<li>
						<a href="#">Ofertas</a>
					</li>
					<li>
						<a href="#">Más</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

</header>

<section id="main">
	<div class="container">
		<div class="row hidden-xs hidden-sm">
			<div class="col-sm-12">
				<nav class="breadcrumb-custom">
					<ul>
						<li>
							<a href="#">Home /</a>
						</li>
						<li>
							<a href="#">Hoteles /</a>
						</li>
						<li>
							Madrid
						</li>
					</ul>
				</nav>

				<div class="destacado">
					<h1>Hoteles disponibles para:</h1>
					<ul>
						<li><i class="fa fa-map-marker" ></i> madrid</li>
						<li><i class="fa fa-calendar-o" ></i>16/11/2016</li>
						<li><i class="fa fa-calendar-o" ></i>30/11/2016</li>
						<li>2 huespedes</li>
						<li>
							<a href="#">Modificar búsqueda</a>
						</li>
						<li></li>
					</ul>
				</div>

			</div>
		</div>
		<div class="row relevante">
			<div class="col-sm-12">
				Ordenar 
				<select ng-model="sortType" ng-init="sortType = sortTypes[0].value" ng-options="item.value as item.label for item in sortTypes">
				</select>
		
				<div class="filtros-mobile hidden-md hidden-lg">
					<ul>
						<li>
							Modificar búsqueda <i class="fa fa-caret-down" aria-hidden="true"></i>
						</li>
						<li>
							Ver hoteles en el mapa
						</li>
						<li class="collapser" data-toggle="collapse" data-target="#filtros-container">
							Filtrar <i class="filtrar-caret fa fa-caret-down" aria-hidden="true"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<aside class="col-md-3">
				<div class="boxshadow vermapa hidden-xs hidden-sm">
					<img src="assets/img/vermapa.jpg" alt="vermapa">
					<a href="#">Ver hoteles en el mapa</a>
				</div>
				<div>
					<h2 class="titulo hidden-xs hidden-sm">Filtrar</h2>
				</div>
				<div id="filtros-container" class="collapse">
					<div class="filtro boxshadow">
						<h2 class="titulo collapser" data-toggle="collapse" data-target="#nombre" ><i class="fa fa-search" aria-hidden="true"></i> Nombre del hotel <i  class="fa fa-caret-up pull-right collapser" aria-hidden="true"></i></h1>
						<form ng-submit="submit()" class="collapse in" id="nombre" >
							<input ng-model="query" type="text" placeholder="Ingrese el nombre del hotel">
							<input type="submit" value="Aceptar" >
						</form>
					</div>
					<div class="filtro boxshadow">
						<h2 class="titulo collapser" data-toggle="collapse" data-target="#precio" >$ Precio por noche<i class="fa fa-caret-up pull-right collapser" aria-hidden="true"></i></h2>
						<div id="precio" class="collapse in">
							<div>
							    <rzslider rz-slider-model="slider.minValue"
								          rz-slider-high="slider.maxValue"
								          rz-slider-options="slider.options"></rzslider>
							</div>
						</div>
					</div>
					<div class="filtro boxshadow estrellas">
						<h2 class="titulo collapser" data-toggle="collapse" data-target="#estrellas" ><i class="fa fa-star"></i> Estrellas<i  class="fa fa-caret-up pull-right collapser"></i></h2>
						<ul id="estrellas" class="collapse in">
							<li><input ng-click="resetStarsArray()" ng-disabled="!starsArray[1] && !starsArray[2] && !starsArray[3] && !starsArray[4] && !starsArray[5]" ng-checked="!starsArray[1] && !starsArray[2] && !starsArray[3] && !starsArray[4] && !starsArray[5]" name="estrellas" type="checkbox"> Todas las estrellas</li>
							<li><input name="estrellas"  ng-model="starsArray[5]" ng-true-value="true" ng-false-value="false" type="checkbox"> 
							<i class="fa fa-star" ></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" ></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" ></i> 
							</li>
							<li><input name="estrellas"  ng-model="starsArray[4]" ng-true-value="true" ng-false-value="false" type="checkbox">
							<i class="fa fa-star"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"></i><i class="fa fa-star" aria-hidden="true"></i>
							</li>
							<li><input name="estrellas" ng-model="starsArray[3]" ng-true-value="true" ng-false-value="false" type="checkbox">
							<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" ></i>
							</li>
							<li><input name="estrellas" ng-model="starsArray[2]" ng-true-value="true" ng-false-value="false" type="checkbox" >
							<i class="fa fa-star" ></i><i class="fa fa-star" aria-hidden="true"></i>
							</li>
							<li><input name="estrellas" ng-model="starsArray[1]" ng-true-value="true" ng-false-value="false" value="1" type="checkbox" >
								<i class="fa fa-star" ></i>
							</li>
						</ul>
					</div>
				</div>	
			</aside>
			<div class="col-md-9">
				<article ng-repeat="hotel in hoteles | filter:{name:q} | starsFilter:starsArray | rangeFilter:slider | orderBy : sortType " class="boxshadow">
					<ul>
						<li class="carousel-list">
							<div id="myCarousel{{$index}}" data-interval="false" class="carousel slide" data-ride="carousel">
							  <!-- Indicators -->
							  <ol class="carousel-indicators">
							    <li data-target="#myCarousel{{$index}}" data-slide-to="0" class="active"></li>
							    <li data-target="#myCarousel{{$index}}" data-slide-to="1"></li>
							  </ol>

							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							      <img src="assets/img/hotel1/1.jpg" alt="Chania">
							    </div>

							    <div class="item">
							      <img src="assets/img/hotel1/2.jpg" alt="Chania">
							    </div>
							  </div>

							  <!-- Left and right controls -->
							  <a class="left carousel-control" href="#myCarousel{{$index}}" role="button" data-slide="prev">
							    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="right carousel-control" href="#myCarousel{{$index}}" role="button" data-slide="next">
							    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							  </a>
							</div>
						</li>
						<li class="nombre-hotel">
							<h1>{{ hotel.name }}</h1>
							<div class="stars">
								<i class="fa fa-star" ng-repeat="i in getStars(hotel.stars) track by $index"></i>
							</div>
							<div class="cama">
								<i class="fa fa-bed" aria-hidden="true"></i> Sólo la habitación
							</div>
							<div class="amenities">
								<i class="fa fa-glass" aria-hidden="true"></i>
								<i class="fa fa-umbrella" aria-hidden="true"></i>
								<i class="fa fa-check" aria-hidden="true"></i>
								<i class="fa fa-coffee" aria-hidden="true"></i>
							</div>
						</li>
						<li class="precio pull-right text-center">
							<div class="precio-habitacion">Precio por noche habitación</div>
							<div class="ars"> <span class="ars-prefijo">ARS</span>  <span class="ars-precio">{{hotel.price}}</span> </div>
							<div class="impuestos">Impuestos y tasas no incluidos</div>
							<div class="verhotel-container">
								<a href="#" class="verhotel">Ver hotel</a>
							</div>
							<div class="cuotas">Pagá en cuotas</div>
							<div class="destino">Pagá en destino</div>
						</li>
					</ul>			
				</article>

			</div>
		</div>		
	</div>	
</section>



<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="dist/uglified-code.js"></script>


</body>
</html>